<!doctype html>
<title>{% block title %}{% endblock %} - Frontend</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('home') }}">Home</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['user_name'] }}</span>
      <li><a href="{{ url_for('frontend.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('frontend.login') }}">Login</a>
      <li><a href="{{ url_for('frontend.register') }}">Register</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>