{% extends 'home.html' %}
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="user_id">User ID</label>
    <input name="user_id" id="user_id" required>

    <label for="user_name">Username</label>
    <input name="user_name" id="user_name" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <label for="password_confirm">Confirm Password</label>
    <input type="password" name="password_confirm" id="password_confirm" required>

    <input type="submit" value="Register">
  </form>
{% endblock %}